.pictures {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: start;
  justify-content: center; /* Center the entire grid inside the container */
}

.pictures h4 {
  width: 100%;
  text-align: left;
}

.pictures img {
  width: 100%; /* Make images fill their cell, you can adjust this as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 8px 0;
}

/* Smaller screens: use Flexbox for single column layout */
@media (max-width: 768px) {
  .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.background-picture {
  z-index: -1;
  position: fixed;
  opacity: 0.7;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  left: 0;
  top: 0;
  object-fit: cover; /* This will cover the entire viewport without stretching the image */
}
