/* Remove default input styles */
.input-form input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  /* Add any additional styling as needed */
  background: rgba(200, 200, 200, 0.3);
  border: 1px solid grey;
  margin: 4px;
  padding: 4px;
  width: 45%;
  max-width: 256px;
  border-radius: 4px;
}

.input-form {
  margin-top: 24px;
  /* padding: 8px; */
}

/* Remove default button styles */
.input-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  /* Add any additional styling as needed */
  border: 1px solid grey;
  background-color: rgba(66, 66, 66, 1);
  padding: 4px;
  color: white;
  border-radius: 4px;
}

.error-message {
  margin: 8px 4px 4px 0;
  color: rgb(100, 0, 0);
}

.Info {
  margin: 8px 4px 4px 0;
  color: rgb(20, 150, 20);
}
