.rhap_footer {
  margin-top: 12px;
  font-size: 12px;
}

.AudioPlayer {
  margin: 12px 0;
}

.Audios h4 {
  margin-bottom: 8px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Space between videos */
  justify-content: start; /* Center videos horizontally */
}
.video {
  height: auto;
  flex: 0 1 174px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: white;

  /* aspect-ratio: 16 / 9; Maintain aspect ratio of videos */
}

.video-description {
  font-size: 12px;
  text-align: center;
  margin-top: 0;
}
.Audios .iframe1 {
  width: 100%;
  height: 98px;
}
