.Header__address {
  font-size: 12px;
}

.Header__title {
  margin: 0 0 0 0;
  max-width: 90px;
}

.Header {
  margin-top: 8px;
  max-width: 136px;
  position: relative;
}

.Header__icon {
  width: 24px;
  height: auto;
  position: absolute;
  top: 46px;
  left: 96px;
}

.react-p5-wrapper {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
}

.MainContainer {
  max-width: 720px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 16px 36px;
  border-radius: 0 0 16px 16px;
  margin-bottom: 192px;
}

.TopSection {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
}

.Description {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Creates two columns of equal width */
  grid-template-rows: repeat(2, 1fr); /* Creates two rows of equal height */
  gap: 8px; /* Adjust the gap between grid items as needed */
  width: fit-content; /* Adjust width as needed, or set a specific width */
  margin: 8px;
  width: auto;
  /* flex-grow: 1; */
}

.MenuItem {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: black; /* Background color */
  color: #fff; /* Text color */
  text-align: center;
  text-decoration: none; /* Removes the underline from links */
  font-size: 12px; /* Font size */
  font-family: 'SFMono', monospace; /* Font family */
  width: 72px; /* Set a width for the items */
  height: 72px; /* Set a height for the items */
  border: 1px solid #000; /* Optional border */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.MenuItem--active {
  background-color: grey;
}

@media (min-width: 720px) {
  .MainContainer {
    padding: 24px;
  }
}

h4 {
  margin-bottom: 4px;
}
